<footer class="page-footer cyan">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MinuteMeal</h5>
          <p class="grey-text text-lighten-4">Site Web réalisé dans le cadre de l'UE Architectures Avancées du Web</p>
          <p class="grey-text text-lighten-4">par Romero Gaétan</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Liens</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2022 Copyright Text
      </div>
    </div>
  </footer>
  