<div class="col s6 m7 center container">
    <h2 class="cyan-text header center">Connexion</h2>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <div class="row">
                    <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12 center">
                        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 center">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="card-action">
                <a href="#" routingLink=""><span class="cyan-text">Valider</span></a>
            </div>
        </div>
    </div>
</div>
        
