<div class="row center">
    <div class="card center col l12">
        <div class="card-content center">
          <span class="card-title center activator grey-text text-darken-4">Bonjour<i class="material-icons right">more_vert</i></span>
          <span class="card-title center activator grey-text text-darken-4">Bienvenue sur MinuteMeal</span>
          <ul>
            <span class="card-content center">Ce site vous permet de rechercher des recettes rapides et faciles en un rien de temps</span>
            <br>
            <span class="card-content center">Vous pouvez même ajouter des recettes vous même une fois connecté !</span>
          </ul>
        </div>
        <div class="card-reveal center">
            <span class="card-title center grey-text text-darken-4">Comment naviguer sur MinuteMeal ?<i class="material-icons right">close</i></span>
            <ul>
                <span class="card-content">- Vous pouvez rechercher grâce à la barre de recheche située en haut à gauche</span>
                <br>
                <span class="card-content">- Si vous souhaitez voir ou ajouter une recette, il suffit d'aller sur l'onglet Recettes</span>
                <br>
                <span class="card-content">- Si vous souhaitez voir tous les ingrédients, vous devez cliquer sur l'onglet Ingrédients</span>
                <br>
                <span class="card-content">- Enfin, si vous souhaitez vous connecter ou vous inscrire, cliquez sur Connexion</span>
            </ul>
        </div>
    </div>
</div>