<!--
<div class="container">
    <div *ngFor="let recette of recettes" class="card">
      <div class="col s6 m6 l6">
        <div class="card cyan">
          <div class="card-content white-text">
            <span class="card-title center">{{recette.nom}}</span>
            <span class="card-content center">Ingrédients : </span>
            <ul>
                <li *ngFor="let ingredient of recette.ingredients; index as index">
                    <span class=""card-content-center>Ingrédient {{index+1}}: {{ingredient[0]}}, Quantité: {{ingredient[1]}}</span>
                </li>
            </ul>
            <span class="card-content center">mode de Cuisson : {{recette.modeCuisson}}</span>
            <span class="card-content center">Nombre de Personnes : {{recette.nbPersonnes}}</span>
          </div>
          <div class="black card-action">
            <a href="#" class="white-text">voir les avis</a>
          </div>
        </div>
      </div>
    </div>
</div>
-->
<div class="card">
    <div class="card-content">
      <div *ngFor="let recette of recettes" class="card">
        <span class="card-title activator grey-text text-darken-4">{{recette.nom}}<i class="material-icons right">more_vert</i></span>
              <span class="card-content center">Ingrédients : </span>
              <ul>
                  <li *ngFor="let ingredient of recette.ingredients; index as index">
                      <span class=""card-content-center>Ingrédient {{index+1}}: {{ingredient[0]}}, Quantité: {{ingredient[1]}}</span>
                  </li>
              </ul>
              <span class="card-content center">mode de Cuisson : {{recette.modeCuisson}}</span>
              <span class="card-content center">Nombre de Personnes : {{recette.nombrePersonnes}}</span>
        <p><a href="#">Voir les avis</a></p>
      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>