<div class="row center-cols center-align">
  <div *ngFor="let recette of recettes">
    <div class="card col m6">
      <div class="card-content">
        <span class="card-title center activator grey-text text-darken-4">{{recette.nom}}<i class="material-icons right">more_vert</i></span>
        <span class="card-content center">mode de Cuisson : {{recette.modeCuisson}}</span>
        <span class="card-content center">Nombre de Personnes : {{recette.nombrePersonnes}}</span>
        <div class="card-action">
          <p><a href="#" class="cyan-text">Voir les avis</a></p>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{recette.nom}}<i class="material-icons right">close</i></span>
        <ul>
          <li *ngFor="let ingredient of recette.ingredients; index as index">
            <span class="card-content-center">Ingrédient {{index+1}}: {{ingredient[0]}}, Quantité: {{ingredient[1]}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>